# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\batel\OneDrive - post.bgu.ac.il\לימודים\קורסים פעילים\SPL\מטלות\מטלה 3\SPL_Assignment3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
